*{margin:0px;
  padding:0px;
}
body{background-color:black;
}
#show{width:600px;
      height:200px;
	  margin:auto;
}


#field{width:600px;
      height:600px;
	  margin:auto;
	  background-color:#eeeeee;
	  padding:20px;
      position:relative;
}

/*....................design part..................*/

.height_bar{width:6px;
  			height:600px;
  			background-color:white;
}
#height1{position:absolute;
         top:20px;
  		 left:20px;
}
#height2{position:absolute;
         top:20px;
  		 left:317px;
}
#height3{position:absolute;
         top:20px;
  		 left:614px;
}


.width_bar{width:600px;
  		   height:6px;
  		   background-color:white;
}
#width1{position:absolute;
        top:20px;
  		left:20px;
}
#width2{position:absolute;
        top:317px;
  		left:20px;
}
#width3{position:absolute;
        top:614px;
  		left:20px;
}


.cross_bar{width:6px;
  		   height:840px;
  		   background-color:white;
}
#cross1{-moz-transform:rotate(45deg);
  		position:absolute;
        top:-100px;
  		left:318px;
}
#cross2{-moz-transform:rotate(-45deg);
  		position:absolute;
        top:-100px;
  		left:318px;
}

/*...............id parts...............*/

#p1{top:8px;
    left:8px;
}
#p2{top:8px;
    left:305px;
}
#p3{top:8px;
    left:600px;
}
#p4{top:305px;
    left:8px;
}
#p5{top:305px;
    left:305px;
}
#p6{top:305px;
    left:600px;
}
#p7{top:600px;
    left:7px;
}
#p8{top:600px;
    left:305px;
}
#p9{top:600px;
    left:600px;
}

/*............various classes for design ids.............*/

.common{position:absolute;
        width:26px;
        height:26px;
		border-style:solid;
		border-width:4px;
		border-radius:100%;
}
.blank{ background-color:#eeeeee;
        border-color:white;
}
.blue{background-color:blue;
      border-color:white;
	  cursor:pointer;
}
.red{background-color:red;
     border-color:white;
	 cursor:pointer;
}
.possible{background-color:white;
		  border-color:green;
		  cursor:pointer;
}
.active{color:green;
        box-shadow: 5px 5px 5px #888888;
}
.selected{box-shadow: 10px 10px 5px #000000;
}

/*.......game cinematic........*/

#start{height:100px;
       width:200px;
	   font-size:70px;
	   text-align:center;
	   color:Green;
	   background-color:yellow;
	   cursor:pointer;
	   position:absolute;
}
#end{height:100px;
       width:200px;
	   font-size:70px;
	   text-align:center;
	   color:Green;
	   background-color:yellow;
	   cursor:pointer;
	   position:absolute;
}
.yvis{visibility:visible;}
.nvis{visibility:hidden;}

.finale{width:100%;
        height:100%;
		z-index:100;
		position:absolute;
		left:0px;
		top:0px;
		background-color:#dddddd;
}

h1{text-align:center;
   font-size:100px;
   color:blue;
   margin:200px auto;
}
h2{text-align:center;
   font-size:100px;
   color:red;
   margin:200px auto;
}

.play_again{height:200px;
       width:400px;
	   font-size:70px;
	   text-align:center;
	   color:Green;
	   background-color:yellow;
	   cursor:pointer;	   
}


